.DS_STORE
.DS_Store
*.vim
*.swn
*.log
npm-debug.log.*
*idea
node_modules
*.swp
dist
coverage
*.swo
*.tern-port
e2e/screenshots/*
.nyc_output
.history
jsconfig.json
cypress/screenshots
cypress/videos
.vscode
